#image {
    height: auto;
    width: 90%;
    /* margin: 150px 20px; */
    margin-top: 300px;
    margin-bottom: auto;
    border-radius: 10px;
}

@media (max-width: 992px) {
    #image {
        margin: 100px auto 10px auto;
        padding: 0px 50px;
        height: auto;
        width: 100%;
    }
}

@media (min-width: 998px) {
    .image:before {
        top: 16em;
        left: 5em;
        border: 1px solid #d1d1d1;
        background-color: #d1d1d1;
        opacity: 0.2;
        border-radius: 10px;
        position: absolute;
        z-index: -1;
        width: 80%;
        height: 30em;
        content: "";
    }
}

.table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.caps {
    text-transform: capitalize;
    font-size: 18px;
}

@media (max-width: 992px) {
    .table-container {
        max-width: 25em;
        margin-left: auto;
        margin-right: auto;
    }
    table {
        border-collapse: separate !important;
    }
    tr {
        text-align: center;
        margin-bottom: 8em;
    }
    td {
        display: table-row;
        text-align: center;
    }

    p.last-item {
        margin-bottom: 2em;
    }
}
p {
    font-size: 20px;
}
p.first-item {
    font-family: 'Parisienne', cursive !important;
    font-size: 24px;
}

img.accent {
    width: 40%;
    height: auto;
}