.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url("/food.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}