html {
    scroll-behavior: smooth;
}

#display {
    font-family: 'Parisienne', cursive !important;
}

#montserrat {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poiret One', cursive !important;
}


section#menu,
section#aboutUs,
section#location {
    padding: 150px 0px;
}